.Login{
  margin: auto;
}

.Login > .combo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login > .combo > div {
  min-width: 300px;
  margin-bottom: .5rem;
}

.Login > .combo > .actions {
  display: flex;
  flex-direction: column;
}

.Login > .combo > .actions > button {
  margin-bottom: .5rem;
}